@model Parcial_1.Models.Venta

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Venta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="totalVenta" class="control-label"></label>
                <input asp-for="totalVenta" class="form-control" />
                <span asp-validation-for="totalVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cantidad" class="control-label"></label>
                <input asp-for="cantidad" class="form-control" />
                <span asp-validation-for="cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vehiculoID" class="control-label"></label>
                <select asp-for="vehiculoID" class ="form-control" asp-items="ViewBag.vehiculoID"></select>
            </div>
            <div class="form-group">
                <label asp-for="fechaCreado" class="control-label"></label>
                <input asp-for="fechaCreado" class="form-control" />
                <span asp-validation-for="fechaCreado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaModificado" class="control-label"></label>
                <input asp-for="fechaModificado" class="form-control" />
                <span asp-validation-for="fechaModificado" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="activo" /> @Html.DisplayNameFor(model => model.activo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
